/**Nav**/

.current{
	background-color: #d40c0c;
}

.nav{
	height: 50px;
	background-color: #000;
	border-bottom: 4px solid #d40c0c;
	text-align: center;
	padding: 0;
	font-weight: 500;
	position: relative;
	top: -16px;
}

.nav li{
	text-transform: uppercase;
	vertical-align: middle;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
	height: 38px;
	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	position: relative;
}

.nav li:hover{
	background-color: #d40c0c;
}

.nav li p{
	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	display: inline-block;
	font-weight: 400;
	margin: 0;
}

.nav a:first-child li div{
	background: url("../images/home.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 25px;
	height: 20px;
	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
}

.nav a:last-child li div{
	background: url("../images/user.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 22px;
	height: 20px;
	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
}

.title div{
	display: inline-block;
	width: 140px;
	height: 25px;
	background-color: #000;
	top: 30px;
	position: relative;
}

.title div:before{
	content:"";
	position:absolute;
	top:0;
	left:140px;
	width: 0; 
	height: 0;
	border-style: solid;
	border-width: 0px 0px 25px 15px;
	border-color: transparent transparent transparent #000;
}

.title h1 {
	margin-top: 19px;
	font-size: 24px;
	font-weight: 500;
}

.title_white div{
	display: inline-block;
	width: 140px;
	height: 25px;
	background-color: #fff;
	top: 30px;
	position: relative;
}

.title_white div:before{
	content:"";
	position:absolute;
	top:0;
	left:140px;
	width: 0; 
	height: 0;
	border-style: solid;
	border-width: 0px 0px 25px 15px;
	border-color: transparent transparent transparent #fff;
}


.title_white h1{
	display: inline-block;
	text-transform: uppercase;
	vertical-align: text-top;
	margin-left: 20px;
	margin-top: 19px;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.result-browsed{
	height: 660px;
	background: url("../images/bg_blue.jpg");
	border-bottom: 4px solid #3e0000;
}

.account {
	font-size: 16px;
	padding-top: 5px;
	font-weight: 400;
}

/*********
**Search creators***
********/

.browse_creators {
	height: 200px;
	margin-top: -6px;
	background: #9a0909;
}

.filter_creators li p{
	font-weight: 500;
}

.filter_creators li:nth-child(2) {
	padding-left: 30px;
}

.filter_creators li:hover{
	background: #fff;
	color: #d40c0c;
}

.filter_alphabet li {
	height: 50px;
	width: 20px;
	margin-top: -50px;
}

.filter_alphabet li p:hover {
	background: #fff;
	color: #d40c0c;
}

/*********
**Featured**
*********/
.prez-creator {
	margin-top: 5px;
	margin-left: 75px;
	margin-right: 75px;
	text-align: center;
	padding-top: 75px;
}

.line2{
	margin-top: 75px;
	padding-bottom: 50px;
}

.hexagon {
	margin-right: 25px;
}

.hexagon-in2:hover {
	background: #000;
}

/*********
**Comics Details***
********/

.comics_details {
	height: 600px;
	margin-top: -6px;
	background: #fff;
}

.comic-picture {
	margin-left: 155px;
	margin-top: 25px;
}

.comic-informations{
	margin-top: -300px;
	margin-left: 400px;
	position: absolute;
	width: 500px;
	display: inline-block;
	vertical-align: middle;
}

.comic-informations div h2{
	margin: 0;
	display: inline-block;
	font-size: 18px;
}

.comic-informations div p{
	margin: 0;
	display: inline-block;
}

.comic-informations div{
	text-align: left;
}

.characters_present h2{
	font-size: 18px;
	margin-left: 155px;
}

/*********
**recommanded***
********/
.pattern {
	top: 5px;
	height: 10px;
	width: 100%;
	background: url('../images/pattern_white.gif') repeat;
}

.recommended {
	height: 300px;
}

/*********
**Footer**
*********/

footer{
	height: 280px;
	width: 960px;
	margin: 0 auto;
	background-color: #000;
}

footer hr{
	margin-top: 25px;
	border: 0;
	height: 1px;
	width: 450px;
	background: #333;
}

footer ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

footer ul li{
	text-align: center;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

footer ul li h1{
	text-transform: uppercase;
	font-size: 14px;
	color: #999999;
}

footer ul li p{
	margin: 0;
	color: #5f5f5f;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

footer ul li p:hover {
	color: #888888;
}

footer ul li a{
	text-decoration: none;
}

footer ul li a img {
	height: 25px;
	opacity: 0.3;
}

footer ul li a img:hover {
	opacity: 1;
}

footer h1{
	color: #3b3b3b;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
}

footer .footer_follow {
	padding-top: -10px;
}

footer .img_footer_marvel {
	margin: 0 auto;
	width: 100%;
	margin-top: 10px;
}

footer .img_footer_marvel img {
	display: block;
	margin: 0 auto;
	opacity: 0.2;
}

footer .provided {
	color: #333333;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
	font-size: 12px;
}
