/******* JEAN JEAN *******/

/**** Quizz ****/
.quizz-wraper {
	height: 500px;
	width: 800px;
	background: url('../images/bg_quizz.png') no-repeat;
	margin: 0 auto;
	position: absolute;
	background-color: #000;
	top: 150px;
	left: 50%;
	margin-left: -400px;
	z-index: 100;
	color: #fff;
	font-weight: 400;
	
}

.question {
	margin-bottom: 100px;
}

.question-text {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	margin-top: 75px;
}

.answers {
	width: 100%;
}

.choices{
	cursor: pointer;
	margin-top: 30px;
	margin-right: 20px;
	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	width: 400px;
	height: 40px;
	background: #000;
	position: relative;
	opacity: 0.5;
	display: block;
	margin: 0 auto;
}

.choices:hover{
	background: #fff;
	opacity: 1;
}

.choices p{
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: 400;
	padding-top: 12px;

	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);

}

.choices :hover, .choices p:hover {
	color: #000;
	font-weight: 500;
}

.question_indicator {
	font-size: 50px;
	opacity: 0.5;
	font-weight: 300;
	margin-left: 665px;
	margin-top: 50px;
}

/*** Challenges ***/
.solo_versus{
	width: 960px;
	margin:auto;
}

.nav_challenges{
	height: 40px;
	text-align: center;
	padding: 0;
	position: relative;
	top: -15px;
	font-size: 18px;
	font-weight: 400;
}

.nav_challenges li{
	text-transform: uppercase;
	vertical-align: middle;
	padding-top: 8px;
	padding-right: 25px;
	padding-left: 25px;
	height:30px;
	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	position: relative;
	top: -2px;
}

.nav_challenges li:hover{
	background-color: #fff;
	color: #9a0909;
}

.nav_challenges li p{
	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	display: inline-block;
	margin: 0;
}

.selected{
	background-color: #fff;
	color: #9a0909;
}

/*Credits */

.credit {
	background-color: #fff;
	width: 200px;
	height: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
}


.credit-logo{
	background: url("../images/thunder.png") no-repeat;
	width: 26px;
	height: 74px;
	margin: auto;
	margin-top: 40px; 
}

.credit-score{
	text-align: center;
	color: #d40c0c;
	font-size: 27px;
	margin: 20px;
}

.browse {
	position: relative;
}

.challenges_result{
	top: -30px;
	background: url('../images/hero-bg.png');
	position: relative;
	height: 600px;
	margin-bottom: -30px;
}

/*Menu challenges */

.menu-challenges{
	width: 960px;
	margin:auto;
}
.nav-selector_challenge{
	height: 24px;
	text-align: center;
	padding: 0;
	position: relative;
	top: 25px;
	font-size: 16px;
	font-weight: 500;
}

.nav-selector_challenge li{
	margin-top: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	padding-top: 4px;
	padding-right: 25px;
	padding-left: 25px;
	height: 24px;
	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	position: relative;
	top: -2px;
}

.nav-selector_challenge li:hover{
	background-color: #fff;
	color: #9a0909;
}

.nav-selector_challenge li p{
	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	display: inline-block;
	margin: 0;
}


/* CHALLENGES */

.challenges-lists{
	padding-top: 60px;
}

.challenge-start{
	background: url("../images/backgrnd_chall.png") no-repeat;
	width:820px;
	height: 100px;
	margin: auto;
	margin-bottom: 20px;
}

.chal_type {
	margin-left: 20px;
	margin-top: 5px;
	font-weight: 900;
}

.chal_name {
	margin-left: 20px;
	color: #fff;
}

.challenge-failed{
	width:820px;
	height: 100px;
	margin: auto;
	background: green;
	margin-top:20px;
}

.challenge-text{
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 10px;
	float: left;
	color: #96978d;
}

.challenge-stats{
	float: left;
	width: 300px;
	margin-top: 10px;
	margin-left: 100px;
	display: inline;
	position: relative;
}

.m-chall{
	background: url("../images/thunder_chall.png") no-repeat;
	width: 21px;
	height: 60px;
	position: absolute;
}

.m-chall-text {
	color: #fff;
	position: absolute;
	margin-top: 50px;
}

.thunder-chall{
	background: url("../images/m_chall.png") no-repeat;
	width: 50px;
	height: 55px;
	position: absolute;
	margin-left: 100px;
}

.thunder-chall-text {
	color: #fff;
	position: absolute;
	margin-left: 117px;
	margin-top: 50px;
}

.challenge-btt-start{
	cursor: pointer;
	margin-top: 30px;
	margin-right: 20px;

	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	width: 100px;
	height: 40px;
	background: #008726;
	float: right;
	position: relative;
}

.challenge-btt-start p{
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 400;

	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
}

.challenge-btt-failed{
	cursor: pointer;
	margin-top: 30px;
	margin-right: 20px;

	transform: skewX(-15deg);
		 -o-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	width: 100px;
	height: 40px;
	background: #96978d;
	float: right;
	position: relative;
}

.challenge-btt-failed p{
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 400;

	transform: skewX(15deg);
		 -o-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);

}